######################################################
# Public Environment Variables (Exposed Client-Side) #
######################################################
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=""
NEXT_PUBLIC_SUPABASE_URL="http://127.0.0.1:54321"

######################################################
#                 Database Connection                #
######################################################
POSTGRES_DATABASE="postgres"
POSTGRES_HOST="127.0.0.1"
POSTGRES_PASSWORD="postgres"
# secretlint-disable-next-line
POSTGRES_URL="postgresql://<username>:<password>@<host>:<port>/<database>"
POSTGRES_USER="postgres"

SUPABASE_SECRET_KEY=""
SUPABASE_URL="http://127.0.0.1:54321"

######################################################
#                   SMTP Connection                  #
######################################################
SMTP_USER=""
SMTP_PASS=""

######################################################
#                    OAuth Clients                   #
######################################################
SUPABASE_AUTH_DISCORD_CLIENT_ID=""
SUPABASE_AUTH_DISCORD_CLIENT_SECRET=""

######################################################
#                  Stripe Integration                #
######################################################
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_PRICE_ID_LANTERN=""
STRIPE_PRICE_ID_LANTERN_HOARD=""